<mat-card>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <mat-list>
    <h3 mat-subheader>Users</h3>
    <mat-list-item
      class="mat-list-option"
      *ngFor="let user of users"
      (click)="selectUser(user)"
    >
      <h4 mat-line><strong>User ID: </strong>{{ user.id }}</h4>
      <h4 mat-line><strong>First Name: </strong>{{ user.firstname }}</h4>
      <p mat-line><strong>Last name: </strong>{{ user.lastname }}</p>
      <button
        mat-mini-fab
        color="accent"
        class="mat-pseudo-checkbox"
        (click)="deleteUser(user); $event.stopImmediatePropagation()"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-card>
